Visual RecognitionIot.txt
[{"id":"16aca9a2.857576","type":"visual-recognition-v3","z":"ec2b75c3.fe53d8","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":494,"y":153,"wires":[["ec15c368.196f1"]]},{"id":"6cba7430.55029c","type":"ui_form","z":"ec2b75c3.fe53d8","name":"","label":"","group":"bdf09837.945758","order":0,"width":0,"height":0,"options":[{"label":"","value":"URL","type":"text","required":true}],"formValue":{"URL":""},"payload":"","topic":"","x":158,"y":151,"wires":[["3e601b98.c44154"]]},{"id":"3e601b98.c44154","type":"function","z":"ec2b75c3.fe53d8","name":"URL Getter","func":"var o = msg.payload.URL;\nmsg.payload = o;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":220,"wires":[["16aca9a2.857576"]]},{"id":"ec15c368.196f1","type":"debug","z":"ec2b75c3.fe53d8","name":"","active":true,"console":"false","complete":"true","x":681.5,"y":153,"wires":[]},{"id":"d3f9adf1.721c2","type":"comment","z":"ec2b75c3.fe53d8","name":"Visual Recognition","info":"","x":200,"y":107,"wires":[]},{"id":"bdf09837.945758","type":"ui_group","z":"","name":"InputSection","tab":"4243122f.54917c","order":1,"disp":true,"width":"6"},{"id":"4243122f.54917c","type":"ui_tab","z":"","name":"Data Input","icon":"dashboard","order":1}]