Watson Conversation bluemixServiceIot.txt
[{"id":"92773a6.62b06c8","type":"telegram command","z":"de3c7941.089138","name":"","command":"/ok","bot":"377e8e8a.ad98f2","x":131,"y":253,"wires":[["ce9be27f.be06c"],[]]},{"id":"f9f6c780.deb878","type":"telegram sender","z":"de3c7941.089138","name":"","bot":"377e8e8a.ad98f2","x":675,"y":268,"wires":[[]]},{"id":"ce9be27f.be06c","type":"function","z":"de3c7941.089138","name":"","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":345,"wires":[["3b63bb18.439824"]]},{"id":"3f3b0a9e.66a806","type":"function","z":"de3c7941.089138","name":"","func":" msg.payload = {\n  chatId : msg.chatId,\n  type: \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;\n","outputs":1,"noerr":0,"x":499,"y":335,"wires":[["f9f6c780.deb878"]]},{"id":"3b63bb18.439824","type":"watson-conversation-v1","z":"de3c7941.089138","name":"","workspaceid":"6bd79853-355e-4b75-b439-91f70186a589","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":407,"y":260,"wires":[["3f3b0a9e.66a806"]]},{"id":"f5f381c1.b5e6d","type":"comment","z":"de3c7941.089138","name":"Watson Conversation","info":"","x":145,"y":192,"wires":[]},{"id":"377e8e8a.ad98f2","type":"telegram bot","z":"","botname":"mybot","usernames":"","chatids":""}]